[Service]                                                                                                                   
ExecStart=/usr/local/bin/speaker-keepalive.sh

[Install]
WantedBy=default.target
